body {
    background-image: url(..//img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
}
.dws-menu *{
    margin: 0;
    padding: 0;
}

header {
    margin-top: 100px;
    font-family: Arial;
}
.dws-menu ul,
.dws-menu ol {
list-style: none;
}

.dws-menu > ul {
    display: flex;
    justify-content: center;
}
.dws-menu >ul li a {
    display: block;
    background: #ececed;
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: #7d0d7d;
    text-decoration: none;
    text-transform: uppercase;
}

.dws-menu> ul li {
    position: relative;
    border-right:1px solid #b2b2b2;
}

.dws-menu> ul li > a i.fa-solid {
    position: absolute;
    top: 15px;
    left: 12PX;
    font-size: 18px;
}

.dws-menu > ul li:first-child {
    border-left: 1 px solid #b2b3b3;
}

.dws-menu> ul li:last-child {
    border-right: 1px solid #b2b2b2;
}

.dws-menu li a:hover {
    background:#454545;
    color:#fff;
    box-shadow: 2px 5px 10px -5px black;
    transition: all 0.3s ease;
}


/* Суб меню */
.dws-menu li ul {
    position: absolute;
    min-width: 150px;
    display: none;
}
.dws-menu li >ul li {
    border: 1px solid #b2b2b2;
}
.dws-menu li >ul li a {
    padding: 10px;
    text-transform: none;
    background:#e4e4e4;
}
.dws-menu li > ul li ul{
    position: absolute;
    right: -150px;
    top: 0;
}

.dws-menu li:hover>ul{
    display: block;
}
